html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "PT Serif", serif;
  background-color: #c9b5ab;
  color: #222;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.5rem;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

nav ol {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  list-style-type: none;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
}

a:link {
  color: #8f2440;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

nav a {
  text-decoration: none;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

blockquote {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 1.5rem;
  text-align: left;
}

main figure + p {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.serving {
  font-family: "PT Serif", serif;
  font-weight: normal;
  font-size: 1.125rem;
}

dl dt {
  font-family: "PT Serif", serif;
  font-weight: bold;
}

.varieties {
  list-style-type: lower-greek;
}
